node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
artifacts/
cache/
typechain-types/
coverage/
coverage.json
gasReporterOutput.json
dist/
.env
.env.*
!.env.example
deployments/*-hardhat.json
deployments/*-hardhat.args.js
.DS_Store
.vercel/
